body {
  font-family: "Montserat";
  overflow-x: hidden;
}
.navbar .nav-item {
  font-size: 1rem;
  text-align: left;
}
/*.navbar .nav-item .nav-link:hover {
  font-weight: bold;
  color: white !important;
}*/
.active {
  font-weight: bold;
  color: white !important;
  
}
.bg-printalo-nav {
  background-color: #253449;
}
.bg-printalo-blueDetail {
  background-color: #364c68;
}
.color-printalo-blueDetail {
  color: #364c68;
}
.bg-printalo-greenDetail {
  background-color: #24c4a6;
}
.bg-printalo-button {
  background-color: #24c4a6;
}
a {
  text-decoration: none !important;
  color: white;
}
.list-group-item:hover {
  font-weight: bold;
  color: white;
}
.modal-dialog {
  padding-top: 10%;
}

.list-group-item {
  border: none;
  padding: 30px;
  font-size: 1.1rem;
}

#sidebar-wrapper {
  min-height: 93vh;
  margin-left: -12rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 12rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -12rem;
  }
}
.circle {
  float: right;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-color: #24c4a6;
  background-color: #24c4a6;
  color: white;
  text-align: center;
  line-height: 50px;
  position: relative;
}
.circletoggle {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-color: #24c4a6;
  background-color: #24c4a6;
  color: white;
  text-align: center;
  line-height: 40px;
  position: relative;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.circletoggle:hover {
  font-weight: bold;
  color: white;
}

.navbar .container .navbar-header {
  float: left;
  width: auto !important;
}
.nav li {
  color: #ffffff !important;
}
li {
  text-align: center !important;
}
.list-group-item.active {
  color: #fff;
  /*background-color:rgba(0,0,0,0.075);*/
  background-color: #24c4a6;
  background-color: rgba(255, 255, 255, 0.5);
}
.section-border {
  position: relative;
  border-radius: 60px;
  border: 2px solid #747474;
  background-color: white;
}
input[type="text"]{
  background: #c3dee5;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.icon-editar{
  background:#24c4a6;
  color:white;
}
.table th{
  vertical-align: middle!important;
}
.fab-icon-holder{
  width:40px;
  height: 40px;
  border-radius: 100%;
  background: #66A4AC;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
.fab-icon-holder{
  opacity: 0.8;
}
.fab-icon-holder a i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-style: 25px;
  color:#ffffff;
}
.bcero{
  border: none;
}

