body {
  font-family: "Montserat";
}
.navbar .nav-item {
  font-size: 1rem;
}
.navbar .nav-item .nav-link:hover {
  color: #24c4a6 !important;
}
.btn-outline-light:hover {
  background-color: #253449;
}
.bg-printalo-nav {
  background-color: #253449;
}
.bg-printalo-blueDetail {
  background-color: #364c68;
}
.color-printalo-blueDetail {
  color: #364c68;
}
.bg-printalo-greenDetail {
  background-color: #24c4a6;
}
.bg-printalo-button {
  background-color: #24c4a6;
}
#showcase {
  position: relative;
  background: url("../img/principal2x.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 650px;
}
#showcaseNeg {
  position: relative;
  background: url("../img/fotocopias.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}
#showcase .primary-overlay {
  position: absolute;
  background: rgba(63, 63, 63, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#showcaseNeg .primary-overlay {
  position: absolute;
  background: rgba(63, 63, 63, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.close-icon {
  float: right;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-radius: 100%;
  border-color: #24c4a6;
  background-color: #24c4a6;
  color: white;
}
.close-icon::before {
  content: "x";
}
.close-icon:hover {
  background-color: #364c68;
  border-color: #364c68;
  color: white;
  cursor: pointer;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
  text-decoration: none !important;
}
.modal-dialog {
  padding-top: 6%;
}
li{
  text-align: center;
}

#posibilidades .fa{
background: #24c4a6;
color: white;
padding:5px;
border-radius: 5px;
}
