.fab-container{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
}
.fab-icon-holder{
    width:50px;
    height: 50px;
    border-radius: 100%;
    background: #24c4a6;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
.fab-icon-holder{
    opacity: 0.8;
}
.fab-icon-holder i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: 25px;
    color:#ffffff;
}