/*icon (+)*/
.fab-container{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
}
.fab-icon-holder:hover{
    background-color:#30e2c2;
}
.fab-icon-holder{
    width:50px;
    height: 50px;
    border-radius: 100%;
    background: #24c4a6;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
.fab-icon-holder{
    opacity: 0.8;
}
.fab-icon-holder a i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: 25px;
    color:#ffffff;
}
/*//icon (+)*/
/*perfiliconuser*/
.circle {
    float: right;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-color: #24c4a6;
    background-color: #24c4a6;
    color: white;
    text-align: center;
    line-height: 50px;
    position: relative;
  }
  .circle:hover{
      background-color: #30e2c2;
  }
  /*//perfiliconuser*/
  .circle.max{
    float: right;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border-color: #24c4a6;
    background-color: #24c4a6;
    color: white;
    text-align: center;
    line-height: 50px;
    position: relative;
  }
  