html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

* {
  max-height: 1000000px;
  margin: 0;
  padding: 0; }

body {
  color: #333;
  background: #e5e5e5;
  font: 400 14px/1.7 "Montserrat", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

.gm-style img {
  max-width: none; }

@media only screen and (min-width: 1025px) {
  a[href^=tel],
  a[href^=skype],
  a[href^=sms] {
    cursor: default;
    pointer-events: none; } }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0 0 10px;
  color: #333; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 15px; }

p {
  margin: 0 0 20px; }

a {
  color: #364c68;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear; }
  a:hover, a:focus {
    text-decoration: none;
    color: #1c2736; }

/* responsive table */
.responsiveTbl table {
  text-align: center;
  width: 100%; }

tr {
  background: #fff; }
  tr:nth-child(2n) {
    background: #f2f2f2; }
  tr:hover .msg {
    opacity: 1;
    top: 0; }

th,
td {
  padding: 15px 20px;
  vertical-align: middle; }
  th:nth-child(2),
  td:nth-child(2) {
    text-align: left; }

th {
  background: #364c68;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 25px 20px; }

.price,
.btnsass {
  border: 1px solid #364c68;
  border-radius: 25px;
  display: inline-block;
  vertical-align: top;
  padding: 8px;
  min-width: 100px;
  text-align: center; }

.btnsass {
  border: none;
  color: #fff;
  background-color: #364c68;
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear; }
  .btnsass:hover {
    -webkit-box-shadow: inset 0 0 0 25px #0a0f14;
    box-shadow: inset 0 0 0 25px #0a0f14;
    color: #fff; }

@media only screen and (max-width: 767px) {
  thead {
    display: none; }
  tr {
    margin: 0 0 15px;
    display: block; }
  td {
    display: block;
    text-align: left;
    padding: 10px 20px 10px 160px;
    position: relative; }
    td:before {
      content: 'Tipo';
      font-weight: 500;
      position: absolute;
      top: 50%;
      left: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    td:nth-of-type(2):before {
      content: 'Nombre'; }
    td:nth-of-type(3):before {
      content: 'Solicitar'; }
    td:nth-of-type(4):before {
      content: 'Eliminar'; }
  .price,
  .btn {
    border: none;
    padding: 0;
    min-width: 0;
    color: #333;
    background: none; } }
