.close-icon {
    float: right;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-radius: 100%;
    border-color: #24c4a6;
    background-color: #24c4a6;
    color: white;
  }
  .close-icon::before {
    content: "x";
  }
  .close-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #24c4a6;
    cursor: pointer;
    border-color: #24c4a6;
  }
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  a {
    text-decoration: none !important;
  }
  .modal-dialog {
    padding-top: 2%;
  }
  li {
    text-align: center;
  }
  input[type="text"],input[type="password"], textarea{
    background: #c3dee5;
  }

  .form-control{
    background: #c3dee5;
  }
  label{
    font-weight: bold;
    padding-top:7px;
  }
  .modal-content {
    height: 100%;
    border-radius: 0px !important;
    border: 0px !important;
  }
  .modalbutton a:hover {
    color: #24c4a6 !important;
  }
  .modalbutton a u:hover {
    color: #24c4a6 !important;
  }

  .modalbuttonalert .btn.positive:hover {
    background-color: #30e2c2 !important;
    color: rgb(255, 255, 255) !important;
  }
  .modalbuttonalert .btn.negative:hover {
    background-color: #253449 !important;
    color: rgb(255, 255, 255) !important;
  }

  .modal-content .container a.btn.negative:hover {
    background-color: #253449 !important;
    color: rgb(255, 255, 255) !important;
  }
  .modal-content .container a.btn.positive:hover {
    background-color: #30e2c2 !important;
    color: rgb(255, 255, 255) !important;
  }
/*SPINNER LOEADER JUNK*/
.spinner{
  border-radius: 50%;
  /*background-color:#eee;*/
  width: 70px;
  height:70px;
  border:5px solid lightgray;
  border-top-color:#24c4a6;
  animation: spinner 0.7s linear infinite;
}
@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}


.modal-content{
  border-radius: 1rem!important;
}
.modal-dialog {
  padding-top: 1%;

}
/*SPINNER LOEADER JUNK*/
.spinner{
  border-radius: 50%;
  /*background-color:#eee;*/
  width: 70px;
  height:70px;
  border:5px solid lightgray;
  border-top-color:#24c4a6;
  animation: spinner 0.7s linear infinite;
}
@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}
.modal-dialog.mini {
  padding-top: 15rem;/*margin top of small modals*/
}
.square-icon{
  /*background-color:#eee;*/
  width: 80px;
  height:70px;
}