html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  * {
    max-height: 1000000px;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: $default-text-color;
    background: $default-background-color;
    font: 400 #{$default-font-size}/#{$default-line-height} $default-font-family;
    min-width: $default-min-width;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
  
  .gm-style img {
    max-width: none
  }
  
  @media only screen and (min-width:1025px) {
    a[href^=tel],
    a[href^=skype],
    a[href^=sms] {
      cursor: default;
      pointer-events: none;
    }
  }
  
  /* HTML5 display-role reset for older browsers */
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }