@import "variable";
@import "mixins";
@import "reset";
@import "typography";
.container {
  max-width: 1024px;
  padding: 0 15px;
  margin: 30px auto;
}

/* responsive table */

.responsiveTbl table {
  text-align: center;
  width: 100%;
}

tr {
  background: $white;
  &:nth-child(2n) {
    background: darken($white, 5%);
  }
  &:hover {
    .msg {
      opacity: 1;
      top: 0;
    }
  }
}

th,
td {
  padding: 15px 20px;
  vertical-align: middle;
  &:nth-child(2) {
    text-align: left;
  }
}

th {
  background: $primary-color;
  color: $white;
  font-weight: 500;
  text-transform: uppercase;
  padding: 25px 20px;
}

.price,
.btnsass {
  border: 1px solid $primary-color;
  border-radius: 25px;
  display: inline-block;
  vertical-align: top;
  padding: 8px;
  min-width: 100px;
  text-align: center;
}

.btnsass {
  border: none;
  color: $white;
  background-color: $primary-color;
  transition: box-shadow 0.3s linear;
  &:hover {
    box-shadow: inset 0 0 0 25px darken($primary-color, 25%);
    color: $white;
  }
}


